.containers {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.containers a {
    width: 70%;
}

.item-image {
    width: 100%;
}

.item-prices {
    font-size: 1.2rem;
    display: flex;
    width: 16vw;
    border: 1px solid grey;
    border-radius: 15px;
}

.new-price {
    margin-left: 1rem;
}

.old-price {
    margin-left: 3rem;
    text-decoration: line-through;
    color: gray;
}