.cart-page-names {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    gap: 20vw;
}

.total-price-details {
    width: 35vw;
    height: 42vh;
    border: 1px solid black;
    position: relative;
    left: 2vw;
    top: 2vh;
}

.total-price-inner-box {
    width: 28vw;
    height: 28vh;
    position: relative;
    left: 3vw;
    top: 2vh;
}

.total-price-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    font-size: larger;
}

.total-amount {
    font-weight: 900;
    border-bottom: 1px dotted grey;
    padding-bottom: 15px;
}

.payment-container {
    display: flex;
    width: 100%;
    height: 47vh;
}

.checkOutHandler-box {
    width: 40%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10vw;
    top: 8vh;
}

.checkOutHandler-btn {
    width: 40%;
    height: 8vh;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ff9900;
    color: white;
    font-size: 1.2em;
}

.checkOutHandler-btn:hover {
    background-color: #df8703;
}