.cart-page-names {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 900;
    gap: 20vw;
}

.total-price-details {
    width: 35vw;
    height: 42vh;
    border: 1px solid black;
    position: relative;
    left: 2vw;
    top: 2vh;
}

.total-price-inner-box {
    width: 28vw;
    height: 28vh;
    position: relative;
    left: 3vw;
    top: 2vh;
}

.total-price-box {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    font-size: larger;
}

.total-amount {
    font-weight: 900;
    border-bottom: 1px dotted grey;
    padding-bottom: 15px;
}