.product-main-box {
    width: 100vw;
    height: 60vw;
}

.product-layout {
    display: flex;
    position: relative;
    top: 8vh;
    left: 10vw;
    width: 80vw;
    height: 70vh;
}

.product-images {
    display: flex;
    width: 35vw;
    height: 70vh;
}

.image-list {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 70vh;
}

.image-list img {
    width: 98%;
    height: 25%;
    padding: 3px;
}

.single-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 70vh;

}

.single-image img {
    width: 100%;
    height: 100%;
}

.product-content {
    width: 30vw;
    height: 70vh;
}

.product-name {
    position: relative;
    top: 20vh;
    left: 2vw;
}

.product-price {
    display: flex;
    width: 8vw;
    height: 2vh;
    justify-content: space-evenly;
    position: relative;
    top: 21vh;
    left: 1vw;
    font-size: 1.2em;
}

.product-new-price {
    color: rgb(228, 51, 51);
    font-weight: 700;
}

.product-old-price {
    text-decoration: line-through;
    color: gray;
}

.quantity {
    position: relative;
    top: 30vh;
    left: 2vw;
}

.quantity input {
    width: 4vw;
    height: 4vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-to-cart {
    position: relative;
    top: 35vh;
    left: 2vw;
}

.add-to-cart button {
    width: 8vw;
    height: 5vh;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: orange;
    transition: all .2s linear;
}

.add-to-cart button:hover {

    background-color: grey;
}